{% extends 'newsletter/home.html' %}

{% block content %}
<h1>Клиенты</h1>
<style>
    .btn-full-width {
        width: 100%;
        display: block;
    }
</style>
<ul>
    {% for client in object_list %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ client }}</h5>
            <p class="card-text">{{ client.comment }}</p>
            <a href="#" class="btn btn-primary btn-full-width mb-2">Редактировать</a>
            <a href="#" class="btn btn-danger btn-full-width mb-2">Удалить</a>
            <a href="#" class="btn btn-success btn-full-width mb-2">Добавить нового клиента</a>
        </div>
    </div>
    {% endfor %}
</ul>
{% endblock %}