{% extends 'newsletter/constructor.html' %}
{% block content %}
<h1>Добро пожаловать на наш сервис рассылок!</h1>

<div>
    <h2>Статистика рассылок</h2>
    <ul>
        <li>Количество рассылок всего: {{ total_mailings }}</li>
        <li>Количество активных рассылок: {{ active_mailings }}</li>
        <li>Количество уникальных клиентов: {{ unique_clients }}</li>
    </ul>
</div>

<div>
    <h2>Интересные статьи из блога</h2>
    <ul>
        {% for article in random_articles %}
        <li>
            <h3>{{ article.title }}</h3>
            <p>{{ article.content|truncatewords:20 }}</p>
            {% if article.image %}
            <img src="{{ article.image.url }}" alt="{{ article.title }}" style="max-width: 200px;">
            {% endif %}
            <p><a href="#">Читать далее</a></p>
        </li>
        {% endfor %}
    </ul>
</div>

<a href="{% url 'newsletter:mailing-list' %}">Список рассылок</a>
{% endblock %}
