{% extends 'newsletter/constructor.html' %}

{% block content %}
<h1>Сообщения</h1>
<a href="{% url 'newsletter:message-create' %}" class="btn btn-success mb-2 mt-2">Добавить новое сообщение</a>
<style>
    .btn-full-width {
        width: 100%;
        display: block;
    }
</style>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2">
            {% for message in object_list %}
            <div class="col mb-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ message }}</h5>
                        <a href="{% url 'newsletter:message-detail' message.id %}" class="btn btn-primary btn-full-width mb-2">Подробнее</a>
                        {% if user.is_authenticated %}
                            {% if user == newsletter.owner %}
                            <a href="{% url 'newsletter:message-update' message.id %}" class="btn btn-primary btn-full-width mb-2">Редактировать</a>
                            <a href="{% url 'newsletter:message-delete' message.id %}" class="btn btn-danger btn-full-width mb-2">Удалить</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}